<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>WebChat</title>
  </head>
  <script src="/socket.io/socket.io.js"></script>
  <body>
    <section id="container">
      <section id="containerName">
        <form id="formName">
          <label for='nickname'>
            Digite um apelido
            <input
              id='nickname'
              data-testid="nickname-box"
            />
          </label>
          <button data-testid="nickname-button">Salvar</button>
        </form>
        <ul id="users-on">
        </ul>
      </section>
      <section id='messages'>
        <ul id='ul-message'>
        </ul>
      </section>
    </section>
      <form id="formMessage" action="">
        <label for='message'>
          Digite sua mensagem
          <input
            id="message"
            autocomplete="off"
            data-testid="message-box"
          />
        </label>
        <button data-testid="send-button">Send</button>
      </form>
    <script src="script.js"></script>
  </body>
</html>