<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="">
      <label htmlFor='nickname'>
        Digite um apelido
        <input id='nickname' />
      </label>
      <label htmlFor='message'>
        Digite sua mensagem
        <input id="message" autocomplete="off" />
      </label>
      <button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let socket = io();
      
      let form = document.getElementById('form');
      let message = document.getElementById('message');
      let nickname = document.getElementById('nickname');

      form.addEventListener('submit', (e) => {
        console.log({ nickname: nickname.value , chatMessage: message.value })
        e.preventDefault();
        if (message.value) {
          socket.emit('message', { nickname: nickname.value , chatMessage: message.value });
          message.value = '';
          nickname.value = '';
        }
      });
    </script>
  </body>
</html>